*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/todd-diemer-67t2GJcD5PI-unsplash.jpg");
    background-position: center;
    background-size: cover;
}

#chrono{
    width: 450px;
    margin: 200px auto;
    position: relative;
}

img{
    width: 100%;
}

.start, .reset, .clock{
    width: 75px;
    height: 69px;
   border: 1px dashed grey; 
    position: absolute;  
    top: 0;  
    cursor: pointer;
}

.reset{
    left: 41px;
}

.start{
    left: 329px;
}

.clock{
    left: 185px;
    height: 50px;
}

.digits > div{
    width: 40px;
    height: 63px;
    background-image: url("../img/chrono/0.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 215px;
    margin-bottom: 5px;
}

#chrono>.digits>.md{
    left: 114px;
}

#chrono>.digits>.mu{
    left: 150px;
}

#chrono>.digits>.sd{
    left: 194px;
}

#chrono>.digits>.su{
    left: 231px;
}

#chrono>.digits>.cd{
    width: 35px;
    height: 50px;
    left: 270px;
    top: 227px;
}

#chrono>.digits>.cu{
    width: 35px;
    height: 50px;
    left: 300px;
    top: 227px;
}

